/* Color palette: https://coolors.co/palette/f2dfd7-fef9ff-d4c1ec-9f9fed-736ced */

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  background-color: #d4c1ec;
}

video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -100;
  background-size: cover;
}

main {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #d4c1ec;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
  font-size: 2.5rem;
}

#form {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

input {
  height: 40px;
  border-radius: 4px 0 0 4px;
  padding: 10px;
  width: 90%;
  margin: auto;
}

button {
  height: 40px;
  margin-top: 20px;
  background-color: #736ced;
  border: none;
  color: whitesmoke;
  border-radius: 0 4px 4px 0;
  width: 90%;
  margin-inline: auto;
}

button:hover {
  color: #736ced;
  background-color: whitesmoke;
  border: 1px solid #736ced;
  cursor: pointer;
}

#show {
  margin-top: 20px;
}

ul {
  margin-top: 10%;
  list-style: none;
  text-align: left;
}

@media screen and (min-width: 1025px) {
  body {
    background-color: whitesmoke;
  }

  main {
    height: 100vh;
  }

  #card {
    width: 38%;
    max-width: 600px;
    height: 90%;
  }

  #form {
    flex-direction: row;
    align-items: center;
    width: 80%;
    justify-content: center;
    margin: auto;
  }

  input {
    width: 100%;
    border: 1px solid #736ced;
  }

  button {
    margin: 0;
    width: 40%;
  }

  #show {
    height: 70%;
  }

  ul {
    margin-top: 0;
    line-height: 25px;
  }

  @media screen and (min-width: 1300px) {
    h1 {
      margin-top: 10%;
    }

    ul {
      margin-top: 10%;
      line-height: 40px;
    }
  }

  }
}
